@model List<TodoAppNTier.Dtos.WorkDtos.WorkListDto>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Todo App</title> 
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body> 
   
    
    <div class="container my-5">
        <div class="text-end">
            <a asp-action="Create" asp-controller="Home" class="btn btn-primary m-3">Yeni Görev Ekle</a>
        </div>
        <h2 class="text-center text-primary mb-4">Yapılacaklar Listesi</h2>
        
        <table class="table table-bordered table-striped table-hover shadow-sm">
            <thead class="table-dark">
                <tr>
                    <th>Görev Tanımı</th>
                    <th>Durum</th>
                    <th>İşlem</th>
                </tr>
            </thead>
            <tbody>
                @* Veritabanından gelen Model'i döngüye sokuyoruz *@
                @if (Model != null && Model.Count > 0)
                {
                    foreach (var work in Model)
                    {
                        <tr>
                            <td>@work.Definition</td>
                            <td>
                                @if(work.IsCompleted)
                                {
                                    <span class="badge bg-success">Tamamlandı</span>
                                }
                                else
                                {
                                    <span class="badge bg-warning text-dark">Devam Ediyor</span>
                                }
                            </td>
                            <td>
                                <a asp-action="Update" asp-controller="Home" asp-route-id="@work.Id" class="btn btn-sm btn-outline-primary">Düzenle</a>
                                <a asp-action="Delete" asp-controller="Home" asp-route-id="@work.Id" class="btn btn-sm btn-outline-danger">Sil</a>
                            </td>

                        </tr>
                    } 
                }
                else
                {
                    <tr>
                        <td colspan="3" class="text-center text-muted">
                            Henüz bir görev eklenmemiş.
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>
</html>